<h1>Listing customers</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Customer</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip code</th>
    <th>Creditcard no</th>
    <th>Credit score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.customer_id %></td>
    <td><%= customer.first_name %></td>
    <td><%= customer.last_name %></td>
    <td><%= customer.street_address %></td>
    <td><%= customer.city %></td>
    <td><%= customer.state %></td>
    <td><%= customer.zip_code %></td>
    <td><%= customer.creditcard_no %></td>
    <td><%= customer.credit_score %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
